body {
    margin:0px;
}
.header {
    background-color: #61646b;
    width:100vw;
    height: 150px;
}

.mainSection {
    width: 100%;
    height: calc(100vh - 150px);

}

.midContentLeft {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #d0cccf
}

.midContentRight {
    width: 15%;
    height: 100%;
    float: right;
    background-color: #d0cccf
}


.middle {
    display: inline;

}

.midContentCenter {
    float: center;
    margin: 0 8%;
    width: 100vh;
    height: calc( 100% - 75px);
}
.footer {
    width: auto;
    margin: 0 8%;
    bottom: 0px;
    height: 75px;
    background-color: #3d3e43;
}



